<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC 
    "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<!--这块等于dao接口的实现  namespace必须和接口的类路径一样-->
	<mapper namespace="com.laomu.graduate.servlet.province.ProvinceBeanMapper">
	<!-- findById必须和接口中的方法名一样  返回一个User  就是刚才的别名  如果不弄别名要连类路径一起写 麻烦-->
	<select id="findProvinceByName" parameterType="HashMap" resultType="ProvinceBean">
		select * from provinces where name = ${name}
    </select>
    <select id="findProvinceById" parameterType="HashMap" resultType="ProvinceBean">
		select * from provinces where id=#{id}
    </select>
    <select id="findProvinceByIdAndName" parameterType="HashMap" resultType="ProvinceBean">
		select * from provinces where id=#{id} and name=#{name}
    </select>
    <insert id="insertUser" parameterType="User" flushCache="true">
   		INSERT INTO user (id,username,password) VALUES (#{id},#{username},#{password})
	</insert>
	<update id="updateUser" parameterType="User">
		UPDATE user SET password=#{password} WHERE id=#{id}
	</update>
	<delete id="User" parameterType="int" >
		DELETE FROM user WHERE id=#{userId}
	</delete>
</mapper>