<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC 
    "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<!--这块等于dao接口的实现  namespace必须和接口的类路径一样-->
	<mapper namespace="com.laomu.graduate.servlet.bean.UserMapper">
	<!-- findById必须和接口中的方法名一样  返回一个User  就是刚才的别名  如果不弄别名要连类路径一起写 麻烦-->
	<select id="findUserById" parameterType="HashMap" resultType="User">
		select * from graduatedb.userinfo where uid=#{uid}
    </select>
    <select id="findUserByIdAndPassword" parameterType="map" resultType="User">
		select * from graduatedb.userinfo where uid=#{uid} and upassword=#{upassword}
    </select>
    <insert id="insertUser" parameterType="User" flushCache="true">
   		INSERT INTO user (id,username,password) VALUES (#{id},#{username},#{password})
	</insert>
	<update id="updateUser" parameterType="User">
		UPDATE user SET password=#{password} WHERE id=#{id}
	</update>
	<delete id="User" parameterType="int" >
		DELETE FROM user WHERE id=#{userId}
	</delete>
</mapper>